In [1]:
import pandas as pd

In [4]:
data = pd.DataFrame({
    'feature1': [1, 2, 3, 4],
    'feature2': [5, 6, 7, 8],
    'lol': [9, 10, 11, 12]
})

# Subsetting the original dataframe
subset_data = data[['feature1', 'feature2']]

In [3]:
def add_outcome(df: pd.DataFrame, subset_df: pd.DataFrame, outcome: str):

    outcome_variable = df[[outcome]]
    df = pd.concat([subset_df, outcome_variable], axis=1)
    return(df)

In [5]:
test = add_outcome(data, subset_data, "lol")

In [6]:
test

   feature1  feature2  lol
0         1         5    9
1         2         6   10
2         3         7   11
3         4         8   12